.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.logo {
    color: var(--primary-color);
    font-size: 44px;
    font-family: "Poppins", sans-serif;
}

.logo-name {
    color: var(--white-color);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}