
.footer{
    background: var(--black-lite-color);
    padding: 40px 50px;
    border-radius: 16px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.footer-author{
    text-decoration: none;
    color: var(--white-color);
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-wrap: wrap;
    }
}